/**
 * This file is part of the Sudden Secret web application.
 * Full license text can be found in LICENSE file in the root directory.
 */
.text-smaller {
    font-size: 0.8em;
}

.text-bigger {
    font-size: 1.25em;
}

.text-huge {
    font-size: 1.75em;
}

.text-bright {
    color: #9a9a9a;
}